.hero {
  padding: 100px;
  color: white;
  text-align: center;
  height: 100vh;
  background-image: url('../src/assets/img/hero-bg.jpg');
  background-size: cover;
}

.card {
  font-size: 2.5rem;
  padding: 20px;
  height: fit-content;
  width: 45vw;
  margin: 20vh 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 1024px) {
  .card {
    width: 75vw;
    margin: auto;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    padding: 10px;
    width: 70vw;
    margin: auto;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .card {
    padding: 5px;
    width: 55vw;
    margin: auto;
    font-size: 1.4rem;
  }
}